- title "Editing #{@skill.title}"
.meta
  %ul#navigation.clearfix
    %li= link_to "All Skills", admin_skills_path
    %li= link_to "Delete", admin_skill_path(@skill), :method => :delete
  %h2= @skill.title
.body
  - form_for @skill, :url => admin_skill_path(@skill) do |f|
    = f.error_messages
    %dl
      %dd= f.label :title
      %dt= f.text_field :title
      
    = f.submit