- title "Editing #{@skill.name}"
.meta
  %ul#navigation.clearfix
    %li= link_to "All Skills", admin_skills_path
  %h2= @skill.name
.body
  - form_for @skill, :url => admin_skill_path(@skill) do |f|
    = f.error_messages
    %dl
      %dd= f.label :title
      %dt= f.text_field :title
      
    = f.submit