- title "Editing #{@item.name}"
.meta
  %ul#navigation.clearfix
    %li= link_to "All Clients", admin_items_path
    %li= link_to "Overview", admin_item_path(@item)
    %li.active= link_to "Edit", edit_admin_item_path(@item)
    %li= link_to "Images", admin_item_images_path(@item)
    %li= link_to "Upload image", new_admin_item_image_path(@item)
  %h2= @item.name
.body
  - form_for @item, :url => admin_item_path(@item), :html => { :multipart => true } do |f|
    = f.error_messages
    = render "skills"
    %dl
      %dd= f.label :name
      %dt= f.text_field :name
      
      %dd= f.label :url, "Link"
      %dt= f.text_field :url
    
      %dd= f.label :description
      %dt= f.text_area :description
    
    = f.submit "Save"