- title "New Item"
.meta
  %ul#navigation.clearfix
    %li= link_to "Go Back", admin_items_path
  %h2== New Client
.body
  - form_for @item, :url => admin_items_path, :html => { :multipart => true } do |f|
    = f.error_messages
    = render "skills"
    
    %dl
      %dd= f.label :name
      %dt= f.text_field :name
      
      %dd= f.label :url, "Link"
      %dt= f.text_field :url
      
      %dd= f.label :agency_id, "Agency"
      %dt= f.select :agency_id, Agency.all.map { |a| [a.title, a.id] }
    
      %dd= f.label :description
      %dt= f.text_area :description
      
    = f.submit "Save"