- title @item.name

.meta
  - if @item.agency.present?
    = link_to @item.agency.title, @item.agency.url, :class => "agency agency_#{@item.agency.slug}"
  %h2= @item.name
  %ul.skills.clearfix
    - @item.skills.each do |skill|
      %li{ :class => "skill #{skill.slug}" }= skill.title

#thumbs.clearfix
  - @images.each do |image|
    - logger.info image.id
    %li= link_to image_tag(image.file.url, :id => "thumb_image_#{image.id}"), '#'
  - if @item.url.present?
    %li.view= link_to '&nbsp;'.html_safe, @item.url

#featured
  = image_tag @images.first.file.url(:large)
    
- content_for :javascript do
  :plain
    items = #{@thumbs.to_json};
    $(items).each(function (i, item) {
      $.preloadImages(item.large)
    });