- title @item.name
.meta
  %h2= @item.name
  .skills.clearfix
    - @item.skills.each do |skill|
      %strong{ :class => "skill #{skill.slug}" }= skill.title
  %p= @item.description

#thumbs.clearfix
  - @item.images.each do |image|
    %li= link_to image_tag(image.file.url)
  - if @item.url.present?
    %li.view= link_to "&nbsp;".html_safe!, @item.url
#featured
  = image_tag @item.images.first.file.url(:large)