#about_me
  %h1= link_to "Garrett Bjerkhoel", root_path
  %ul#navigation.clearfix
    %li= link_to "Work", works_path
    %li= link_to "About", about_path
    %li= link_to "Blog", posts_path
    %li= link_to "Contact", contact_path
  %p
    I am a one man show, and I am what you need for your website.