- title "Editing #{@post.title}"
.meta
  %ul#navigation.clearfix
    %li= link_to "Go Back", admin_posts_path
    %li= link_to "Delete", admin_post_path(@post), :method => :delete
  %h2= @post.title
.body
  - form_for @post, :url => admin_post_path(@post) do |f|
    = f.error_messages
    %dl
      %dd= f.label :title
      %dt= f.text_field :title
      
      %dd= f.label :body
      %dt= f.text_area :body
      
      %dd= f.label :category_id, "Category"
      %dt= f.collection_select :category_id, Category.all, :id, :title
      
      %dd= f.label :published
      %dt= f.check_box :published
      
    = f.submit