- title "New Post"
.meta
  %ul#navigation.clearfix
    %li= link_to "Go Back", admin_posts_path
  %h2== New Post
.body
  - form_for @post, :url => admin_posts_path do |f|
    = f.error_messages
    %dl
      %dd= f.label :title
      %dt= f.text_field :title
      
      %dd= f.label :body
      %dt= f.text_area :body
      
      %dd= f.label :excerpt
      %dt= f.text_area :excerpt
      
      %dd= f.label :preview
      %dt= f.text_area :preview
      
      %dd= f.label :category_id, "Category"
      %dt= f.collection_select :category_id, Category.all, :id, :title
      
      %dd= f.label :published
      %dt= f.check_box :published
      
    = f.submit