- title "Editing #{@agency.title}"
.meta
  %ul#navigation.clearfix
    %li= link_to "All Agencies", admin_agencies_path
    %li= link_to "Delete", admin_agency_path(@agency), :method => :delete
  %h2= @agency.title
.body
  - form_for @agency, :url => admin_agency_path(@agency) do |f|
    = f.error_messages
    %dl
      %dd= f.label :title
      %dt= f.text_field :title
      
      %dd= f.label :url
      %dt= f.text_field :url
      
    = f.submit