- title @post.title

= render @post

#comment_wrapper
  %h1= pluralize @post.comments.length, 'comment'
  %ul#comments
    = render @post.comments
  #comment_form
    %h3 Submit a Comment
    %p
      Use any <a href="http://daringfireball.net/projects/markdown/syntax">Markdown</a> you like, and please be nice.
    - form_for @comment, :url => post_comments_path(@post), :remote => true do |f|
      %p
        = f.label :name
        = f.text_field :name
      %p
        = f.label :email
        = f.text_field :email
      %p
        = f.label :body, "Comment"
        = f.text_area :body
      %p
        = f.submit