- title "Contact"

.body
  - form_for :contact, :url => contact_path do |f|
    = f.error_messages

    %dl
    %dd= f.label :name
    %dt= f.text_field :name

    %dd= f.label :email
    %dt= f.text_field :email

    %dd= f.label :body
    %dt= f.text_area :body

    = f.submit "Submit"

- content_for :javascript do
  :plain
    $('body.contact form').live('submit', function (e) {
      $(['name', 'email', 'body']).each(function (i, v) {
        var item = $('#contact_'+ v);
        if(item.val() == "") {
          e.preventDefault();
          alert('Please fill out the '+ v +' field.');
          item.addClass('has_errors');
          item.focus();
          return false;
        } else {
          item.removeClass('has_errors');
        }
      });
    });