!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    %title= content_for?(:title) ? content_for(:title) : t(:site_name)
    = stylesheet_link_tag 'style'
    = yield :stylesheets if content_for?(:stylesheets)
  %body.admin
    #wrapper
      #container
        = yield
      = render "shared/footer"
    = javascript_include_tag "jquery.1.4.min", "jquery-ui-1.7.2.min", "application"
    - if content_for?(:javascript_files)
      = yield :javascript_files
    - if content_for?(:javascript)
      %script{ :type => "text/javascript" }
        :plain
          $(document).ready(function () {
            #{yield :javascript}
          });