!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    %title= content_for?(:title) ? content_for(:title) : t(:site_name)
    = auto_discovery_link_tag :atom, posts_path(:format => :atom)
    = stylesheet_link_tag :all
    - if content_for?(:stylesheets)
      = yield :stylesheets
  %body{ :class => "#{controller.controller_name}"}
    #what_i_do
      .wrapper
        %p
          %span== Web Applications
          %span== Ruby on Rails
          %span== PHP/MySQL
          %span== HTML/CSS
          %span== WordPress
          %span== JavaScript
        %h2== Just some of the things I can do for you...
    #content
      .wrapper
        .container
          #portfolio.clearfix
            = render "shared/header"
            #work
              = yield
          = render "shared/faq"
        = render "shared/footer"