!!! Strict
%html(xmlns='http://www.w3.org/1999/xhtml' xml:lang='en' lang='en')
  %head
    %meta(http-equiv='Content-type' content='text/html; charset=utf-8')
    %title= content_for?(:title) ? content_for(:title) : t(:site_name)
    = auto_discovery_link_tag :atom, posts_path(:format => :atom)
    = stylesheet_link_tag 'style'
    - if content_for?(:stylesheets)
      = yield :stylesheets
  %body{ :class => controller.controller_name }
    #wrapper
      #container
        #main.clearfix
          #left
            = render 'shared/header'
          #right
            = yield
        = render 'shared/faq'
      = render 'shared/footer'
    = javascript_include_tag 'jquery.1.4.min', 'cufon-yui', 'gotham_rounded.font', 'application'
    - if content_for?(:javascript_files)
      = yield :javascript_files
    - if content_for?(:javascript)
      %script{ :type => 'text/javascript' }
        :plain
          $(document).ready(function () {
            #{yield :javascript}
          });
    %script{ :type => 'text/javascript' }
      :plain
        Cufon.replace('ul#links a, body.works .meta h2', {
          fontFamily: 'Gotham Rounded Book',
          textShadow: '#fff 1px 1px 0'
        });
        
        /* Google Analytics */
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-12213707-2']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
        })();