!!!
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en")
  %head
    %meta(http-equiv="Content-type" content="text/html; charset=utf-8")
    %title= content_for?(:title) ? content_for(:title) : t(:site_name)
    = stylesheet_link_tag :all
    = yield :stylesheets if content_for?(:stylesheets)
  %body
    #what_i_do
      .wrapper
        %h2== What I Do That Makes Me Stand Out...
    #content
      .wrapper
        .container
          #work
            = yield
        = render "shared/footer"
            
    = javascript_include_tag "jquery.1.4.min", "application"
    = yield :javascript if content_for?(:javascript)